.card {
  @apply flex flex-col justify-center items-center;
  &-ratio {
    height: 300px;
    width: 200px;  
    &:hover {
      @apply bg-gray-100;
    }
  }
  &-ability {
    transition: all 0.2s ease-in-out;
    width: 200px;
  }  
  &-ability-selected {
    height: 1px;
    transition: all 0.2s ease-in-out;  
  }
  img {
    max-height: 96px;
    max-width: 96px;
  }
}
.mode-dark {
  .card-ratio:hover {
    @apply bg-gray-800;
  }
}