/* purgecss start ignore */
@import "tailwindcss/base";

@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

/* purgecss start ignore */
@import "~vue-multiselect/dist/vue-multiselect.min.css";

@import '~vue2-dropzone/dist/vue2Dropzone.min.css';

@import 'dropzone';

@import 'multiselect';

@import 'card';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a:focus {
  outline: none;
}
#app {
  min-height: 100vh;
}

@function blackWhiteSwitch($color) {
  $sum: red($color) * 0.2126 + green($color) * 0.7152 + blue($color) * 0.0722;
  @return hsl(0%, 0%, ($sum / 255 - 0.8) * -10000000%);
}

$colours:
  "fire" #FB9B51,
  "fire-2" #FBAE46,
  "electric" #EDD53E,
  "electric-2" #FBE273,
  "flying" #90A7DA,
  "flying-2" #A6C2F2,
  "poison" #A864C7,
  "poison-2" #C261D4,
  "water" #4A90DD,
  "water-2" #6CBDE4,
  "rock" #C5B489,
  "rock-2" #D7CD90,
  "normal" #9298A4,
  "normal-2" #A3A49E,
  "fairy" #EC8CE5,
  "fairy-2" #F3A7E7,
  "bug" #92BC2C,
  "bug-2" #AFC836,
  "psychic" #F66F71,
  "psychic-2" #FE9F92,
  "ground" #DC7545,
  "ground-2" #D29463,
  "fighting" #CE4265,
  "fighting-2" #E74347,
  "dark" #595761,
  "dark-2" #6E7587,
  "ice" #70CCBD,
  "ice-2" #8CDDD4,
  "steel" #52869D,
  "steel-2" #58A6AA,
  "ghost" #516AAC,
  "ghost-2" #7773D4,
  "dragon" #0C69C8,
  "dragon-2" #0180C7,
  "unknown" #68A090,
  "unknown-2" #7BBFAC,
  "grass" #5FBC51,
  "grass-2" #5AC178;

@each $color in $colours {
  .#{nth($color, 1)} {
    background-color: nth($color, 2);
    color: blackWhiteSwitch(nth($color, 2));
    stop-color: nth($color, 2);
  }
}

.steps-nav {
  box-shadow: 0px 0 30px rgba(42, 67, 101, .2);
  .steps-nav-progress-bar {
    background-color: #f60a49;
    transition: width 0.3s ease-out;
  }
  .steps-nav-progress-bar-number {
    color: #f60a49;
    transition: left 0.3s ease-out;
  }
}


// Transitions
.fade-enter-active, .fade-leave {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

/* purgecss end ignore */